* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.header {
    background-color: #002147;
    color: #ffffff;
    padding: 15px;
}

.side_menu {
    float: left;
    padding: 15px;
    float: left;
    background-color: white;
}

.side_menu ul {
    list-style-type: none;
    padding: 0;
}

.side_menu li {
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: #c7c2bc;
    color: #ffffff;
}

#menu_current {
    background-color: #002147;
}

a {
    text-decoration: none;
    display: block;
}

a:link, a:visited {
    color: #ffffff;
}

.main {
    float: right;
    padding: 15px;
}

table, table td, table th {
    border: 1px solid #c7c2bc;
    border-collapse: collapse;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

#footer_left {
    color: #3479b2;
    float: left;
    font-size: 90%;
}

#footer_right {
    color: #3479b2;
    float: right;
    font-size: 90%;
}

.site_content {
    min-height: calc(100vh - 35px);
}

.footer {
    height: 19px;
    padding: 15px;
}

.sticky {
    position: fixed;
    top: 0;
}

/* For mobile devices: */
.side_menu, .main {
    width: 100%;
    overflow: auto;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .side_menu {
        width: 25%;
    }

    .main {
        width: 75%;
    }
}